.container-message {
    background-color: rgba(169, 169, 169, 0.554); 
    margin: 0 auto;
    height: 50px;
    width: fit-content; 
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.51);
}

.message {
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(47, 47, 47, 0.854);
    width: fit-content; 
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
}
