* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {

    img {
        -webkit-user-drag: none;
        user-select: none;
    }
}

#Main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
    gap: 3em;
    justify-content: center;
    color: white;
    padding: 3em;
}

#main {
    background-color: #007EC0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #alieno {
        border-radius: 15px;
        width: 65%;
        border: 3px solid white;
    }

    input {
        height: 1.2em;
        width: 13%;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 15px;
        text-align: center;
        border: none;
        font-size: 2em;
    }

    #buttons {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between; 
        width: 70%; 
        position: relative;
        #errore {
            width: 100%;
            position: absolute;
            height: 70px; 
            background-color: rgb(222, 82, 82);
            z-index: 2;
            border-radius: 15px;
            text-align: center;
            display: none;
            bottom: 180px;

            p {
                color: white;
            }
        }
        button {
            height: 70px;
            width: 70px;
            border-radius: 15px;
            border: none;
            color: white;
            font-size: 1.2em;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
            }
            &:active {
                border: transparent solid 2px;
            }

            img {
                width: 80%;
                filter: grayscale(100%) opacity(20%);
            }
            &:nth-of-type(1) {
                width: 140px;
                background-color: red;
            }
        }

    }

}

#Weapons {
    background-color: #007EC0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    visibility: hidden;

    #container {

        width: 80%; 
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 1em;
        justify-content: center;
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100px;
            border-radius: 15px;
            border: 3px solid transparent; 
            &:hover {
                border: 3px solid rgb(255, 143, 143);
            }
        }
        .clicked {
            display: none;
        }
    }
}

#info {
    visibility: hidden;
    width: 100%;
    background-color: #C04200;
    border-radius: 15px;

    #container-testo {
        display: flex; 
        align-items: center; 
        flex-direction: column;
        .testo {
            background-color: rgb(245, 169, 76);
            height: 70px;
            border-radius: 15px; 
            width: 45%;
            text-align: center;
        }

        .nome {
            font-size: 2em;
            line-height: 70px;
        }

        .vite {
            font-size: 2em;
            line-height: 70px;
        }

        .gruppo-sanguigno {
            height: 100px;
            padding: 3%;
        }


        p {
            margin-bottom: 0.5em;
            text-align: center;
        }

    }

    h2 {
        text-align: center;
        margin-bottom: 0;
        margin-top: 1.5em;
    }


    #container-info {
        width: 80%; 
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 1em;
        justify-content: center;
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 100px;
            border-radius: 15px;
            border: 3px solid transparent; 
            &:hover {
                border: 3px solid rgb(255, 143, 143);
            }
        }
    }
}
