body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212
}

.containerCerca {
    color: white;
    box-shadow: 0 1px 0 1px #2f2f2f; 
    width: fit-content;
    margin: 50px auto 15px auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    position: relative;
    &:hover {
    box-shadow: 0 1px 0 1px #424242; 
    }
    input {
        color: white;
        font-size: 1.3em;
        padding: 15px;
        border-radius: 50px;
        width: 400px;
        border: none;
        background-color: #2f2f2f;
        cursor: pointer;
        &:focus {
            cursor: text;
            box-shadow: inset 0 0 0 1px #a2a2a2;
            outline: none;
        }
    }
    .cerca {
        top: 20px;
        right: 20px;
        position: absolute;
        height: fit-content;
        width: fit-content;
        display: flex;
        cursor: pointer;

        span {
            user-select: none;
            width: fit-content;
            transform: scale(1.5);
            padding: 5px;
            background-color:#2f2f2f;
            border-radius: 50%;
            &:hover {
                background-color: #121212;
            }
        }

    }
}

select {
    cursor: pointer;
    display: block;
    color: white;
    background-color: #121212;
    box-shadow: 0 1px 0 1px #2f2f2f; 
    font-size: 1.2em;
    margin: 0 auto px auto; 
    padding: 25px;
    border-radius: 100px;
    text-align: center;
    border: none;
    &:focus {
        border: none;
        outline: none;
    }
    &:hover {
    box-shadow: 0 1px 0 1px #424242; 
    }
}

.containerBrani {
    background-color: #121212;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
    .canzone {
        color: white;
        height: fit-content; 
        width: 350px;
        background-color: #2f2f2f;
        padding: 10px;
        border: 1px solid black;
        display: grid;
        border-radius: 15px;
        justify-content: flex-start;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "img brano"
        "img artista"
        "img genere";
        &:hover {
            box-shadow: inset 0 0 0 2px #787878; 
            cursor: pointer;
            background-color: #121212;
        }
        .playPause {
            grid-area: img;
            align-items: center;
            display: flex;
            align-items: center;
            position: relative;
            img {
                border-radius: 10px;
                height: 60px;
                width: 60px;
            }
            .icona {
                position: absolute;
                left: 0;
                opacity: 0.85;
            }
        }
        p {
            margin: 0;
            padding-left: 10px;
            height: fit-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .brano {
            grid-area: brano;
            font-weight: bolder;
        }
        .artista {
            grid-area: artista;
        }
        .genere {
            grid-area: genere;
        }
    }
}

.containerGrande {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .containerBrani {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 730px) {
    .containerBrani {
        grid-template-columns: 1fr;
    }
}